<?xml version="1.0" encoding="utf-8"?>
<configuration><location path="." inheritInChildApplications="false"><system.webServer>
  <handlers><add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" /></handlers>
  <aspNetCore processPath="dotnet" arguments=".\ThumbService.dll" stdoutLogEnabled="false" hostingModel="outofprocess" />
  <security><requestFiltering><requestLimits maxAllowedContentLength="134217728" /></requestFiltering></security>
</system.webServer></location></configuration>
